<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreamw96.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.settings.SettingsActivity"></activity>

        <service
            android:name=".widget.movie.StackMovieWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.tvshows.StackTvWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".service.TodayReleaseReminderService"
            android:exported="true"
            android:enabled="true" />

        <receiver
            android:name=".widget.movie.FavoriteMovieBannerWidget"
            android:label="@string/fav_movie_banner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.tvshows.FavoriteTvBannerWidget"
            android:label="@string/fav_tv_banner">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <activity android:name=".views.tvshows.detail.DetailTvShowActivity" />
        <activity android:name=".views.movies.detail.DetailMovieActivity"
            android:parentActivityName=".views.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>
        </activity>


        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".views.search.SearchActivity" />
        </activity>
        <activity
            android:name=".views.search.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"/>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <receiver android:name=".service.DailyReminderReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".service.TodayReleaseMovieReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>